@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Primary Colors */
    --primary-white: #FFFFFF;
    --primary-black: #363738;

    /* Secondary Colors */
    --secondary-1: #F5F5F5;
    --secondary-2: #FEFAF1;
    --secondary-3: #DB4444;

    /* Text Colors */
    --text-1: #FAFAFA;
    --text-2: #7D8184;
    --button-card: #000000;
    --text-3: #000000;

    /* Other Colors */
    --button-1: #47AB48;
    --button-2: #DB4444;
    --hover-button-1: #E07575;
    --hover-button-2: #A0BCE0;

    /* Background Color */
    --background: #FFFFFF;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* HEADER */

body {
    height: 100vh;
    padding-bottom: 10px;
}

header{
    width: 100vw;
    border-bottom: 1px solid #a3a3a34d;
}

header .text_desconto{
    background-color: #000000;
    color: var(--primary-white);
    text-align: center;
    font-weight: 200;
    font-size: .8rem;
    padding: .5rem 0rem;
}

header .text_desconto.sticky{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 10px 100px;
    box-shadow:  0 5px 20px rgba(0,0,0,0.05);
    transition: 0.5s;
}

header .text_desconto p span{
    font-weight: 400;
}


header .header_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    padding: 2rem;
    height: 13vh;
}

header .header_content.sticky{
    position: fixed;
    top: 32px;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 10px 100px;
    box-shadow:  0 5px 20px rgba(0,0,0,0.05);
    transition: all 0.1s ease-in-out;
}

header .header_content ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

header .header_content ul li a{
    text-decoration: none;
    color: var(--primary-black);
}

header .header_content ul li{
    list-style: none;
    margin: 0rem 1rem;
    transition: all 0.1s ease-in-out;
}

header .header_content ul li:hover{
    position: relative;
    border-bottom: 1px solid var(--primary-black);
    font-weight: 500;
}

header .header_content ul li:active{
    color: var(--hover-button-1);
    transition: all 0.1s ease-in-out;
}

/* Logo - Name*/
header .header_content span a{
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-black);
}

header .search{
    width: 243px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border: .3rem;
    background-color: var(--secondary-2);
    box-shadow: 0px 0px 2px var(--primary-black);
}

header .search input {
    background-color: transparent;
    width: 70%;
    padding: .5rem;
    outline: none;
}
header .search input:placeholder-shown{
    font-size: .6rem;
}

header .search:hover {
    box-shadow: 0px 0px 2px var(--button-card);
}

header .search .fa-magnifying-glass{
    color: var(--primary-black);
    margin-left: 1rem;
}


header .search_store_itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .search_store_itens .search{
    margin-right: 1rem;
}

header .store_itens .fa-solid.fa-user{
    margin-left: .2rem;
}

header .store_itens a{
    text-decoration: none;
}



header .store_itens a i{
    font-size: 1.1rem;
    color: var(--primary-black);
}

header .store_itens span{
    margin-left: 1rem;
    font-weight: 300;
    color: var(--primary-black);
}
header .store_itens span:hover{
    color: var(--hover-button-1);
}
header .store_itens span:active{
    color: var(--button-2);
    
}

header i{
    transition: all 0.1s ease-in-out;
}

header i:hover{
    color: var(--text-2);
}
header i:active{
    color: var(--hover-button-1);
    transition: 1ms ease;
}

/* Container principal do Home */
.container{  
    width: 100%; 
    background-color: var(--primary-white);
}

/* CARD -> Nichos + Produto princial */
.menu-banner{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}

/* Contenedor dos Nichos */
.menu-banner-title{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #a3a3a34d;
    font-weight: 400;
    font-size: .8rem;
    line-height: 2.4;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
}

/* Hover : itens nichos */
.itens-menu-title:hover{
    color: var(--primary-black);
    font-weight: 500;
}

.itens-menu-title:active{
    color: var(--hover-button-1);
    transition: all 0.1s ease-in-out;
}

.menu-content-ul{
    list-style: none;
    color: var(--primary-black);
}

.menu-banner-slides-card{
    background-color: var(--button-card);
    width: 60vw;
    height: 44vh;
    margin-left: 2rem;
}

.content-text{
    width: 40%;
    padding: 2rem 0rem 2rem 4rem;
}

.content-text .content-text-title{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.content-text .content-text-title span{
    font-size: .7rem;
}
.content-text .content-text-title img{
    width: 10%;
    margin-right: 1rem;
}

.content-text .content-text-description{
    font-size: 2rem;
    font-weight: 500;
    width: 294px;
    height: 120px;

}

.content-text .content-text-button{
    position: relative;
    margin-top: .4rem;
}

.content-text .content-text-button a{
    text-decoration: none;
    font-size: .7rem;
    font-weight: 300;
    border-bottom: 1px solid var(--primary-white);
    color: var(--primary-white);
}

.content-text .content-text-button i{
    margin-left: .1rem;
}
.content-text .content-text-button:hover{
    a{
        font-weight: 400;
        border-bottom: 2px solid var(--hover-button-1);
        transition: all 0.1s ease-in-out;
    }
    i{
        color: var(--hover-button-1);
        transition: all 0.1s ease-in-out;
    }
}


.content-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img img{
    width: 80%;
}

.menu-banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-text{
    color: var(--primary-white);
}

/* Section de flash sales */
.flash-sales{
    padding: 2rem;
    border-bottom: 1px;
    border-bottom: 1px solid #a3a3a34d;
    width: 90%;
    margin: 0 auto;
}

.flash-sales-title div span{
    color: var(--button-2);
}

.flash-sales div span#title::before {
    content: ' ';
    background-color: var(--button-2);
    width: 20px;
    height: 30px;
    display: inline-block; /* ESSENCIAL */
    position: relative;
    top: 10px;
    margin-right: 1rem;
    border-radius: .15rem;
}

.flash-sales-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.flash-sales-content h3{
    font-size: 2rem;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer .timer-number{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.timer .title-timer{
    color: var(--button-card);
    font-size: .7rem;
    font-weight: 600;
}
.timer .number-timer{
    color: var(--button-card);
    font-size: 1.8rem;
    font-weight: 800;
}

.setas #fa-arrow-left_setas, #fa-arrow-right_setas
, #fa-arrow-left_setas_categorias, #fa-arrow-right_setas_categorias{
    background-color: var(--secondary-1);
    border-radius: 50%;
    padding: .5rem;
    color: var(--text-2);
    box-shadow:  0 5px 20px rgba(0, 0, 0, 0.171);
    transition: all 0.1s ease-in-out;
}

.setas #fa-arrow-left_setas:hover, #fa-arrow-right_setas:hover
, #fa-arrow-left_setas_categorias:hover, #fa-arrow-right_setas_categorias:hover{
    background-color: var(--hover-button-1);
    color: var(--text-1);
}
.setas #fa-arrow-left_setas:active, #fa-arrow-right_setas:active
, #fa-arrow-left_setas_categorias:active, #fa-arrow-right_setas_categorias:active{
    transition: all 0.1s ease-in-out;
    background-color: var(--button-card);
    color: var(--hover-button-1);
}

.content-card-products.collapsed{
    max-height: 487.2px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.content-card-products.expanded{
    max-height: fit-content;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.content-card-products{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin-top: 2rem;
}

.content-card-categories {
    gap: 2rem;
    margin-top: 2rem;
}

.product-card {
    width: 236px;
    height: 487.2px;
    margin-bottom: 2rem;
    background-color: var(--secondary-1);
    padding: .5rem 1rem .5rem 1rem;
    box-shadow:  0 5px 20px rgba(0, 0, 0, 0.171);
    box-sizing: border-box;
    border: 2px solid var(--button-card);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.descont-product {
    display: grid;
    grid-template-columns: repeat(3,1fr); /* 3 colunas iguais */
    gap: 10px; /* espaçamento entre linhas e colunas */
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.product-card .button-card {
    background-color: var(--button-card);
    color: var(--text-1);
    width: 100%;
    padding: .5rem 0rem;
    opacity: 0; /* Inicialmente invisível */
    visibility: hidden; /* Evita o botão ocupar espaço quando invisível */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transição suave */
    transition: all 0.1s ease-in-out;
    
}

.product-card .button-card:hover {
   background-color: var(--hover-button-1);
}
.product-card .button-card:active {
    transition: all 0.1s ease-in-out;
   background-color: var(--primary-black);
   color: var(--hover-button-1);
}

.product-card:hover .button-card {
    opacity: 1; /* Torna o botão visível */
    visibility: visible; /* Permite que o botão seja visível */
}

.button-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:100%;
}

.button-view .button-view-product{
    width: 100%;
    border: 2px solid var(--button-2);
    color: var(--button-2);
    background-color: var(--background);
    padding: .5rem 0rem;
    font-weight: 700;
    margin-top: 1rem;
    transition: all 0.1s ease-in-out;
}

.button-view .button-view-product:hover{
    border: 2px solid var(--button-card);
    color: var(--background);
    background-color: var(--button-card);
    font-weight: 500;
}

.button-view .button-view-product:active{
    color: var(--button-2);
}

.product-card-text p{
    margin-top: 1rem;
    color: var(--button-card);
    font-size: .8rem;
    font-weight: 600;
    height: 43px;
}

.product-card-text p:hover{
    color: var(--text-2);
}

.product-card-text .price{
    .principal{
        color: var(--button-2);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .secundario{
        color: var(--text-2);
        font-size: .8rem;
        text-decoration: line-through;
    }
}


.descont-product span{
    background-color: var(--button-2);
    border-radius: 0.1rem;
    color: var(--primary-white);
    padding: .2rem;
}

.descont-product #fa-heart, #fa-eye{
    background-color: var(--background);
    padding: .4rem;
    border-radius: .1rem;
    transition: all 0.1s ease-in-out;
}
.descont-product #fa-heart:hover, #fa-eye:hover{
    color: var(--primary-white);
    background: var(--secondary-3);
}
.descont-product #fa-heart:active, #fa-eye:active{
    transition: all 0.1s ease-in-out;
    color: var(--hover-button-1);
    background: var(--button-card);
}

.stars p span{
    color: rgb(255, 198, 9);
    font-size: 1rem;
}

.stars p{
    color: var(--text-2);
    font-size: .5rem;
}

.button-product-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.product-card-button{
    padding: 1rem 2rem;
    background-color: var(--button-2);
    color: var(--text-1);
    font-weight: 300;
    margin: 0 auto;
    transition: all 0.1s ease-in-out;
}

.no-results-text {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.product-card-button:hover{
    background-color: var(--hover-button-1);
    color: var(--primary-white);
    
}

.product-card-button:active{
    background-color: var(--button-card);
    color: var(--button-2);
    transition: all 0.1s ease-in-out;
}

.product-card-img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.product-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* criando a seção de categorias */

.categoria-sales{
    margin-top: 1rem;
    margin-bottom: 5rem;
    padding: 2rem;
    border-bottom: 1px solid #a3a3a34d;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}



.categoria-sales-title div span{
    color: var(--button-2);
}

.categoria-sales div span#title::before {
    content: ' ';
    background-color: var(--button-2);
    width: 20px;
    height: 30px;
    display: inline-block; /* ESSENCIAL */
    position: relative;
    top: 10px;
    margin-right: 1rem;
    border-radius: .15rem;
}

.categoria-sales-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.categoria-sales-content h3{
    font-size: 2rem;
}

.content-card-products{
    display: grid;
    grid-template-columns: repeat(5, 236px);
    gap: 10px;
    max-width: 100vw;
}

.content-card-categories .categorias{
    list-style: none;
}

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.item-categorias a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-right: 2rem;
    padding: 3rem;
    border: 1px solid var(--button-card);
    text-decoration: none;
    color: var(--button-card);
    transition: all 0.1s ease-in-out;
}

.item-categorias a:hover{
    background-color: var(--button-2);
    color: var(--background);
    border: 1px solid var(--background);
}

.banner-day-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-card);
    width: 70%;
    margin: 1rem auto;
}

.info-bannerday{
    padding: 2rem;
    color: var(--primary-white);
}

.info-bannerday span#title{
    color: var(--button-1);
}

.info-bannerday p{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: start;
}

.timer-bannerday{
    display: flex;
}

.timer-bannerday .timers{
    list-style: none;
    margin-right: 1rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 4vw;
    height: 8vh;
    color: var(--button-card);
    border-radius: 50%;
}

.timer-bannerday .timers .numeber-timer-bannerday{
    margin-top: .5rem;
    font-weight: 600;
}

.timer-bannerday .timers .title-timer-bannerday{
    font-weight: 300;
    font-size: .5rem;
}

.button-bannerday{
    padding: 1rem 2rem;
    color: var(--background);
    background-color: var(--button-1);
    position: relative;
    margin-top: 5rem;
}


/* New Arrial */

.parent-featuared {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    margin-top: 2rem;
}
    
.product-featuared_1 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    background-color: var(--button-card);
}

.img_featuared{
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.img_featuared img{
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.text_featuared{
    color: var(--primary-white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.text_featuared.left-bottom {
    left: 32px;
    bottom: 32px;
}

.text_featuared_2{
    position: absolute;
    top: 225rem;
    margin-left: 2rem;
    color: var(--primary-white);
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.title_featuared{
    font-size: 1.5rem;
    font-weight: 500;
}

.desc_featuared{
    font-size: .7rem;
    font-weight: 300;
    margin: .5rem 0;
    width: 70%;
}

a.button_featuared{
    border-bottom: 1px solid var(--background);
    text-decoration: none;
    color: var(--background);
    width: max-content;
}

.product-featuared_2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    background-color: var(--button-card);
}

.product-featuared_3 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: var(--button-card);
}

.product-featuared_4 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: var(--button-card);
}

.singUp-wrap{
    display: flex;
    width: 90.62vW;
    margin: 3% 0px 14.23% 0px;
    height: 79.6%;
    flex: 61.70%, auto;
    .login-title {
        font-size: 2rem;
    }
    img {
        flex: 0 0 55.9%;
        height: 100%;

    }
    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    input {
        border-bottom: 1px solid var(--text-2);
        background-color: transparent;
    }
}

.login-wrap{
    display: flex;
    width: 90.62vW;
    margin: 3% 0px 14.23% 0px;
    height: 79.6%;
    flex: 61.70%, auto;
    .login-title {
        font-size: 2rem;
    }
    img {
        flex: 0 0 55.9%;
        height: 100%;

    }
    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    input {
        border-bottom: 1px solid var(--text-2);
        background-color: transparent;
    }
}

.footer {
    background-color: var(--button-card);
    height: 440px;
    width: 100vw;
    color: var(--text-1);
    bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;

    .footer-content{
        height: 50%;
        width: 81.25%;
        margin: 0 auto; 
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        column-gap: 80px;
    }

    .footer-content > div{
        display: flex;
        flex-direction: column;
    }

    .text-emphasis{
        font-size: 20px;
        font-weight: bold;
    }
    span{
        margin: .5rem 0;
        font-size: .9rem;
        font-weight: 300;
    }

    span:hover{
        color: var(--button-2);
    }

    .email-input{
        border: 1px solid var(--primary-white);
        padding: 12px;
        display: flex;
    }

    .email-input i {
        font-size: 24px;
    }

    .email-input input {
        height: 24px;
        width: 100%;
        background-color: transparent;
    }
}

.container-error-message {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%;
}

.errorMessageTitle {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.errorMessageText {
    font-size: 20px;
    margin-bottom: 20px;
}

.errorMessageButton {
    background-color: #DC3435 ;
    color: var(--primary-white);
    padding: 10px 20px;
    border: none;
}


.containerForm {
    padding:40px 80px ;
    min-height: 630px ;
    height: fit-content;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 7px 0px #00000078;
    form {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:50px;
        input{
            padding: 8px 13px;
            border:none;
            background-color: #F5F5F5;
            border-radius: 4px;
            transition: all 0.1ms ease-in;
            outline: none;
        }

        input:hover{
            border:1px solid var(--button-2);
        }

        input:active{
            border:1px solid var(--text-2);
        }
    }
}

.container-input{
    display:flex;
    flex-direction:column;
}

.button-red{
    background-color:#DB4444;
    padding: 16px 48px;
    border:none;
    border-radius: 4px;
    color:white;
}

.button-flat{
    background-color:transparent;
    padding: 16px 48px;
    border:none;
}

.container-footer{
    margin-top: 24px ;
    display:flex;
    justify-content:right;

}

.profile {
    display: flex;
    flex: 1;
    gap: 100px;
}

.containerMenu {
    width: 300px;
}

.containerMenu div p.url_site{
    margin-bottom: 2rem;
}

.containerMenu >div {
    margin-left: 135px;
}

.notifications {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    pointer-events: none;
}

.notificationBox {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 4px 3px #0000001a;
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
    margin-bottom: 10px;
    pointer-events: auto;
}

.notification-btn-close {
    border: none;
    background-color: none;
    color: #ffffff98;
    border-radius: 40%;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.12);
}

.notification-title {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    height: 30px;
    color: #0000009c;
    font-weight: 500;
    border-top: 1px solid #ffffff36;
    border-left: 1px solid #ffffff36;
    border-right: 1px solid #ffffff36;
    border-bottom: 1px solid #0000001f;
}
.notification-message {
    height: 100%;
    padding: 0px 10px;
    background-color: #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #00000091;
    border: 1px solid white;
}

.product-container {
    display: flex;
    justify-self: center;
    width: 81.25%;
    margin-top: 181px;
    margin-bottom: 140px;

    .img-thumbnail {
        background-color: #47AB48;
        background-color: var(--secondary-1);
        width: 170px;
        height: 138px;
        border-radius: 4px;
    
    }
    
    .container-img-list {
     display: flex;
     flex-direction: column;
     gap: 18px;
     margin-right: 30px;
    }
    
    .product-img {
        background-color: var(--secondary-1);
        width: 500px;
        height: 800px;
        height: 600px;
        margin-right: 70px;
        border-radius: 4px;
    }
    .produt-details{
        display: flex;
        flex-direction: column;
        width: 400px;
    } 
    
    .produt-details>div:first-child{
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        border-bottom: 1px solid lightgray;
    }
    .produt-details>div:last-child{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    
    }
    .produt-details .product-name{
        font-size: 24px;
        font-weight: 700;
    
    
    }
    
    .produt-details .product-price{
        font-size: 20px;
    
    }
    
    .component-number{
        padding: 0px;
        margin:0px;
        display: flex;
        width: 159px;
        height: 44px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }
    
    .component-number button {
        width: 40px;
        height: 44px;
        font-size: 24px;
    
    }
    
    .component-number input{
        width: 80px;
        height: 44px;
        background-color: transparent;
        font-size: 20px;
        text-align: center;
    }
    
    input[type=number]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
    
    }
    input[type=number] { 
       -moz-appearance: textfield;
       appearance: textfield;
    
    }
    .button-buy {
        background-color: var(--button-2);
        padding: 10px 48px;
        color: white;
        border-radius: 4px;
    }
    
    .button-cart {
     padding: 10px 10px;
     border: 1px solid black;
     background-color: transparent;
     border-radius: 4px;
    } 
}


/* about */

main .url_site{
    position: relative;
    left: 5rem;
    top: 2rem;
    color: var(--text-2);
}

main .url_site span{
    font-weight: 500;
    color: var(--primary-black);
}

.our_story{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.our_story .out_story_text{
    display: flex;
    flex-direction: column;
}

.our_story .our_story_title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.our_story_sub_title{
    margin-bottom: 1rem;
    width: 90%;
    text-align: justify;
}

.our_story_img div img{
    transform: scale(.8);
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.cards .card{
    border: 2px solid var(--button-card);
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1rem;
    transition: all 0.1s ease-in-out;
}

.cards .card:hover{
    background-color: var(--button-2);
    border: 2px solid var(--primary-black);
    color: var(--background);
    i{
        background-color: var(--background);
        box-shadow: 0px 0px 1px 10px rgba(255, 255, 255, 0.555);
        color: var(--primary-black);
    }

    .text_sub_title{
        color: var(--background);
    }
}

.cards .card i, .info_site_card_support .card_info i{
    background-color: var(--button-card);
    padding: 1rem;
    border-radius: 50%;
    color: var(--primary-white);
    margin-bottom: 1rem;
    font-size: 2rem;
    box-shadow: 0px 0px 1px 10px var(--text-2);
}

.cards .card .text_qtd{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-black);
}

.cards .card, .info_site_card_support .card_info .text_sub_title{
    font-size: .7rem;
    color: var(--text-2);
    font-weight: 400;
}

.info_site_card_support{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.info_site_card_support .card_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_site_card_support .card_info .text{
    font-weight: 700;
    color: var(--primary-black);
    font-size: 1.2rem;
}

.contact{
    margin-top: 1rem;
}

.contact .container_contact{
    margin: 4rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    background-color: var(--background);
    box-shadow:  0 5px 20px rgba(0,0,0,0.05);
    padding: 1rem;
}

.contact .container_contact .contact_card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.contact .container_contact .contact_card div{
    i{
        background-color: var(--button-2);
        border-radius: 50%;
        padding: .8rem;
        color: var(--background);
    }

    span{
        font-weight: 700;
    }

    p{
        font-size: .8rem;
        margin-top: 1rem;
    }
}


.contact .contact_form{
    display: flex;
    flex-direction: column;
}

.contact .contact_inputs_firts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.contact .contact_inputs_firts input, textarea{
    padding: 1rem;
    border: 1px solid var(--text-2);
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    outline: none;
}

.contact textarea{
    margin-top: 1rem;
}

.contact .contact_inputs_firts input::placeholder{
    color: var(--text-2);
}

.contact_btn{
    border-radius: 4px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.container_cart{
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}

.content_block{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.content_block .product_content, .product_content_price, .product_content_qtd, .product_content_total_price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_block.title span{
    font-weight: 500;
    text-align: center;
}


.content_block .product_content{
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.content_block .product_content img{
    width: 20%;
    height: 70%;
    object-fit: cover;
    margin-right: 1rem;
}

.content_block .product_content span{
    font-weight: 500;
    font-size: .8rem;
}

.content_block .product_content_qtd input{
    background-color: var(--secondary-1);
    width: 70px;
    height: 50px;
    padding: 1rem;
    outline: none;
    border: 1px solid var(--text-2);
    border-radius: 1rem;
}

.content_button_card{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_button_card button{
    text-decoration: none;
    color: var(--button-card);
    border: 1px solid var(--button-card);
    padding: 1rem 3rem;
    margin: 1rem 0rem 2rem 0rem;
    transition: all 0.02s ease-in-out;
    background-color: var(--background);
    border-radius: .2rem;
}

.content_button_card button:hover{
    background-color: var(--button-card);
    color: var(--background);
}

.content_button_card button:active{
    color: var(--button-2);
}

.footer_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0rem 1rem 0rem;
}

.footer_card .coupon input{
    border: 1px solid var(--button-card);
    padding: .8rem 3rem;
    outline: none;
    border-radius: .2rem;
}

.footer_card .coupon button{
    background-color: var(--button-2);
    border-radius: .2rem;
    padding: .9rem;
    color: var(--background);
    transition: all 0.1s ease-in-out;
}

.footer_card .coupon button:hover{
    background-color: var(--button-card);
}

.footer_card .coupon button:active{
    color: var(--button-2);
    transition: all 0.1ms ease-in-out;
}

.footer_card .card_resumo{
    border: 1px solid var(--button-card);
    border-radius: .5rem;
    p{
        font-weight: 700;
        font-size: 1.2rem;
        padding: 1rem;
    }

    div.item_resumo_card{
        border-bottom: 1px solid var(--button-card);
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        padding: .4rem;
        margin: .8rem;
    }

    .button{
        text-align: center;

        button{
            background-color: var(--button-2);
            color: var(--background);
            padding: 1rem 3rem;
            margin: 1rem;
        }

        button:hover{
            background-color: var(--button-card);
        }

        button:active{
            color: var(--button-2);
            transition: all 0.1ms ease-in-out;
        }
    }
}

/* Container account */
.container_account{
    margin-bottom: 5rem;
}
.container_account div.info_account_text{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;

    p span{
       font-weight: 500;
    }

}


